* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient(rgb(28, 172, 64), rgb(209, 230, 19));
  height: 1041px;
}
.main{
  background: none;
}

button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 58px;
}
.game{
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -43%);
  background: white;
}
.rows {
  width: 100%;
  height: 290px;
  margin: 0;
  padding: 0;
} 

.box {
  display: inline;
  list-style-type: none;
  border: 2px solid rgb(14, 233, 32);
  padding: 0px 145px 270px 145px;
  background-size: cover;
}

#clearBoard{
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 500px;
  height: 150px;
  font-size: 75px;
  padding: 20px;
}